extends layout

block content
  h1= title
  div(id='tweets')
   a.twitter-timeline(href='https://twitter.com/search?q=%23techmeme', data-widget-id='317498031433973764') Tweets

  form(action='/status', method='post')
    input(name='status')
    button Post Status


  each article, i in articleList
    p #{i}
    button(class='article btn btn-warning btn-small', value = i) Article
    div(id = i)
      h3 #{article.title}
      | !{article.summary}
      br
      br
    button(class='hidearticle', value = i ) Hide
    br