extends layout

block content
  h1= title
  p #{profile.screen_name}

  form(action='/status', method='post')
    input(name='status')
    button Post Status

    input(type='button', onclick='myFunction()', value='Article')

    a.twitter-timeline(href='https://twitter.com/search?q=%23techmeme', data-widget-id='316635103180759042') Tweets about "#techmeme"
  script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  p Can you see this 
   button(id='hide') Hide
  button#show Show
 