extends layout

block content
  img(border='0', src='/images/techwing1.png', alt='logo')
  div(id='tweets')
   a.twitter-timeline(href='https://twitter.com/search?q=%23techmeme', data-widget-id='317498031433973764') Tweets

  form(action='/status', method='post')
    input(name='status')
    button Post Status

  div(id='articles')
    each article, i in articleList
      h4(class='well') #{article.title}
        br
        div(id = i)
          h5 !{article.summary}
        br
        button(class='article btn btn-warning btn-small', value = i) Article
        button(class='hidearticle btn btn-primary btn-small', value = i ) Hide


