extends layout

block content
  h1= title
  p #{profile.screen_name}

  form(action='/status', method='post')
    input(name='status')
    button Post Status

    input(type='button', onclick='myFunction()', value='Article')

 