extends layout

block content
  h1= title
  p #{profile.screen_name}

  div
    each article, i in articleList
      h3 #{article.title}
      | !{article.summary}
      br
      br

  form(action='/status', method='post')
    input(name='status')
    button Post Status

    
  
  button(id='article') Article
  div(id='articletext')
   a.twitter-timeline(href='https://twitter.com/search?q=%23techmeme', data-widget-id='316635103180759042') Tweets about "#techmeme"    
   p Surprise :) 
   button(id='hide') Hide