body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div{
	float: left;
}
img{
	display: block;   
	margin-left: auto; 
	margin-right: auto;
}

#tweets{
	display: inline-block;
	width: 45%;
	float: right;
}

#articles{
	display: inline-block;
	width: 45%;
	float: left;
}

